/*-----------------------------------*\
    #style.css
\*-----------------------------------*/




/*-----------------------------------*\
    #CUSTOM PROPERTY
\*-----------------------------------*/

:root{
    --ff-spartan:'League Spartan',sans-serif;
    --shadow: 0px 0px 100px 0px hsl(216, 9%, 90%);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
    --clr-btn:#088178;
    /* --clr-text-hover:#ff84f4; */
    --clr-text-hover:#088178;
}



/*-----------------------------------*\
    #RESET
\*-----------------------------------*/

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a,img,span,button{
    display: block;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    height: auto;
}
button{
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

address{
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--ff-spartan);
    height: 300vh;
}

:focus-visible{
    outline-offset: 4px;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: hsl(0, 0%, 98%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0, 0%, 70%);
}
/*-----------------------------------*\
    #REUSED STYLE
\*-----------------------------------*/
h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 2rem;
}
h1,h2,h3,h4{
    margin: 0;
}
p{
    font-size: 1rem;
}


.container{
    margin: 0 auto ;
    max-width: 1200px;
}

.btn{
    width: max-content;
    border: solid transparent 1px;
    /* background: var(--clr-btn); */
    color: var(--clr-text-hover);
    cursor: pointer;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: .5rem 1rem;
    border-radius: 2rem;
    user-select: none;
}
.btn:hover{
    /* background: var(--clr-text-hover); */
}
.btn:active{
    transform: scale(0.95);
}
/*-----------------------------------*\
    #HEADER
\*-----------------------------------*/

.header{
    padding: 1rem 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
}
.header_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_cont img{
    width: 3rem;
}
.navbar{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}
.navbar .list_links{
    display: flex;
    gap: 1rem;
    font-weight: 400;
}
.navbar .list_links a{
    font-size: 1.15rem;
    font-weight: bold;
    transition: color .2s ease;
    position: relative;
    padding: 0 7px;
}
.navbar .list_links a:hover{
    color: var(--clr-text-hover);
}
.navbar .list_links a.active{
    color: var(--clr-text-hover);
}
.navbar .list_links a.active::after,
.navbar .list_links a:hover:after{
    content: "";
    width: 40%;
    height: 3px;
    background: var(--clr-text-hover);
    position: absolute;
    bottom: -6px;
    left: 0;
}
/*-----------------------------------*\
    #HERO
\*-----------------------------------*/

.hero{
    background-image: url("../img/hero4.png");
    height: 90vh;
    width: 100%;
    padding: 0 3rem;
    background-position: top 25% right 0;
    background-size: cover;
}
.hero .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
}
.hero .container h2{
    font-size: 4rem;
    margin: 15px 0;
}
.hero .container h1{
    font-size: 5rem;
    margin-bottom: 15px;
    color: var(--clr-text-hover);
}
.hero .container h4{
    color: #847d7d;
}
.hero .container .btn{
    margin-top: 1rem;
    background-image: url("../img/button.png") ;
    background-repeat: no-repeat;
    border: 0;
    padding: 14px 80px 14px 50px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}

/*-----------------------------------*\
    #FEATURES
\*-----------------------------------*/
.feature{
    padding: 3rem 4rem;
}
.feature .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}
.feature .fe_box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.04);
    border: 1px solid #cce7d0;
    border-radius: .5rem;
    margin: 15px 0;
}
.feature .fe_box:hover{
    box-shadow: 10px 15px 50px rgba(70, 62, 221, 0.13);
    border-color: #088178;
}
.feature .fe_box img{
    width:100%;
    margin-bottom: 1rem;
}

.fe_box h6{
    display: inline-block;
    font-size: 1.2rem;
    padding: .5rem;
    line-height: 1;
    border-radius: 4px;
    color: var(--clr-text-hover);
    background-color: #fddde4;
    user-select: none;
}
.fe_box:nth-child(2) h6{
    background: #cdebbc;
}
.fe_box:nth-child(3) h6{
    background: #d1e8f2;
}
.fe_box:nth-child(4) h6{
    background: #cdd4f8;
}
.fe_box:nth-child(5) h6{
    background: #f6dbf6;
}
.fe_box:nth-child(6) h6{
    background: #fff2e5;
}

/*-----------------------------------*\
    #ABOUT
\*-----------------------------------*/





/*-----------------------------------*\
    #WORK
\*-----------------------------------*/





/*-----------------------------------*\
    #FOOTER
\*-----------------------------------*/





/*-----------------------------------*\
    #MEDIA QUERIES
\*-----------------------------------*/