/*-----------------------------------*\
    #style.css
\*-----------------------------------*/




/*-----------------------------------*\
    #CUSTOM PROPERTY
\*-----------------------------------*/

:root{
    --ff-spartan:sans-serif;
    --shadow: 0px 0px 100px 0px hsl(216, 9%, 90%);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
    --clr-btn:#ffa8f4;
    --clr-text-hover:#ff84f4;
}



/*-----------------------------------*\
    #RESET
\*-----------------------------------*/

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a,img,span,button{
    display: block;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    height: auto;
}
button{
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

address{
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--ff-spartan);
    height: 300vh;
}

:focus-visible{
    outline-offset: 4px;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: hsl(0, 0%, 98%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0, 0%, 70%);
}
/*-----------------------------------*\
    #REUSED STYLE
\*-----------------------------------*/
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.2rem;
}
h1,h2,h3,h4{
    margin: 0;
}
p{
    font-size: 1rem;
}


.container{
    margin: 0 auto ;
    max-width: 1200px;
}

.btn{
    width: max-content;
    border: solid transparent 1px;
    background: var(--clr-btn);
    color: #000;
    cursor: pointer;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: .5rem 1rem;
    border-radius: 2rem;
    user-select: none;
}
.btn:hover{
    background: var(--clr-text-hover);
}
.btn:active{
    transform: scale(0.95);
}
/*-----------------------------------*\
    #HEADER
\*-----------------------------------*/

.header{
    padding: 1rem 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
}
.header_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_cont img{
    width: 3rem;
}
.navbar{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}
.navbar .list_links{
    display: flex;
    gap: 1rem;
    font-weight: 400;
}
.navbar .list_links a{
    transition: color .2s ease;
    position: relative;
    padding: 0 7px;
}
.navbar .list_links a:hover{
    color: var(--clr-text-hover);
}
.navbar .list_links a.active{
    color: var(--clr-text-hover);
}
.navbar .list_links a.active::after,
.navbar .list_links a:hover:after{
    content: "";
    width: 40%;
    height: 2px;
    background: var(--clr-text-hover);
    position: absolute;
    bottom: 0;
    left: 0;
}
/*-----------------------------------*\
    #HERO
\*-----------------------------------*/

.hero{
    background-image: url("../img/hero4.png");
    height: 90vh;
    width: 100%;
    padding: 0 3rem;
    background-position: top 25% right 0;
    background-size: cover;
}
.hero .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
}
.hero .container h2{
    margin: 15px 0;
}
.hero .container h1{
    margin-bottom: 15px;
    color: var(--clr-text-hover);
}
.hero .container h4{
    color: #847d7d;
}
/* .hero .container button{
    background-image: url("../img/button.png") ;
    color: #d400ff;
    padding: 14px 60px 14px 50px;
    cursor: pointer;
    font-weight: 700;
} */

/*-----------------------------------*\
    #SERVICE
\*-----------------------------------*/





/*-----------------------------------*\
    #ABOUT
\*-----------------------------------*/





/*-----------------------------------*\
    #WORK
\*-----------------------------------*/





/*-----------------------------------*\
    #FOOTER
\*-----------------------------------*/





/*-----------------------------------*\
    #MEDIA QUERIES
\*-----------------------------------*/