/*-----------------------------------*\
    #style.css
\*-----------------------------------*/




/*-----------------------------------*\
    #CUSTOM PROPERTY
\*-----------------------------------*/

:root{
    --ff-spartan:'League Spartan',sans-serif;
    --shadow: 0px 0px 100px 0px hsl(216, 9%, 90%);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
    --clr-btn:#088178;
    /* --clr-text-hover:#ff84f4; */
    --clr-text-hover:#088178;
}



/*-----------------------------------*\
    #RESET
\*-----------------------------------*/

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a,img,span,button{
    display: block;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    height: auto;
}
button{
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

address{
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--ff-spartan);
    height: 300vh;
}

:focus-visible{
    outline-offset: 4px;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: hsl(0, 0%, 98%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0, 0%, 70%);
}
/*-----------------------------------*\
    #REUSED STYLE
\*-----------------------------------*/
h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 2rem;
}
h1,h2,h3,h4{
    margin: 0;
}
p{
    font-size: 1rem;
}


.container{
    margin: 0 auto ;
    max-width: 1200px;
}

.btn{
    width: max-content;
    border: solid transparent 1px;
    /* background: var(--clr-btn); */
    color: var(--clr-text-hover);
    cursor: pointer;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: .5rem 1rem;
    border-radius: 2rem;
    user-select: none;
}
.btn:hover{
    /* background: var(--clr-text-hover); */
}
.btn:active{
    transform: scale(0.95);
}
/*-----------------------------------*\
    #HEADER
\*-----------------------------------*/

.header{
    padding: 1rem 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
}
.header_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_cont img{
    width: 3rem;
}
.navbar{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}
.navbar .list_links{
    display: flex;
    gap: 1rem;
    font-weight: 400;
}


.navbar .list_links a{
    font-size: 1.15rem;
    font-weight: bold;
    transition: color .2s ease;
    position: relative;
    padding: 0 7px;
}
.navbar .list_links a:hover{
    color: var(--clr-text-hover);
}
.navbar .list_links a.active{
    color: var(--clr-text-hover);
}
.navbar .list_links a.active::after,
.navbar .list_links a:hover:after{
    content: "";
    width: 40%;
    height: 3px;
    background: var(--clr-text-hover);
    position: absolute;
    bottom: -6px;
    left: 0;
}
/*-----------------------------------*\
    #HERO
\*-----------------------------------*/

.hero{
    background-image: url("../img/home.jpg");
    height: 90vh;
    width: 100%;
    padding: 0 3rem;
    background-position: top 25% right 0;
    background-size: cover;
}
.hero .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
}
.hero .container h2{
    font-size: 4rem;
    margin: 15px 0;
}
.hero .container h1{
    font-size: 5rem;
    margin-bottom: 15px;
    color: var(--clr-text-hover);
}
.hero .container h4{
    color: #847d7d;
}
.hero .container .btn{
    display: inline-block;
    margin-top: 1rem;
    background: #18a9a0;
    padding-inline: 2rem;
    padding-block: 1rem .8rem;
    color: #fff;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    vertical-align: middle;
    line-height: normal;
}

.hero .container .btn:hover{
    background: #088178;
}

/*-----------------------------------*\
    #FEATURES
\*-----------------------------------*/
.feature{
    padding: 3rem 4rem;
}
.feature .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}
.feature .fe_box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.04);
    border: 1px solid #cce7d0;
    border-radius: .5rem;
    margin: 15px 0;
}
.feature .fe_box:hover{
    box-shadow: 10px 15px 50px rgba(70, 62, 221, 0.13);
    border-color: #088178;
}
.feature .fe_box img{
    width:100%;
    margin-bottom: 1rem;
}

.fe_box h6{
    display: inline-block;
    font-size: 1.2rem;
    padding: .5rem;
    line-height: 1;
    border-radius: 4px;
    color: var(--clr-text-hover);
    background-color: #fddde4;
    user-select: none;
}
.fe_box:nth-child(2) h6{
    background: #cdebbc;
}
.fe_box:nth-child(3) h6{
    background: #d1e8f2;
}
.fe_box:nth-child(4) h6{
    background: #cdd4f8;
}
.fe_box:nth-child(5) h6{
    background: #f6dbf6;
}
.fe_box:nth-child(6) h6{
    background: #fff2e5;
}

/*-----------------------------------*\
    #FEATUREd PRODUCTS
\*-----------------------------------*/

.featured-products{
    text-align: center;
    padding: 3rem 4rem;
}
.featured-products .container{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}
@media (max-width: 768px){
    .featured-products .container{
        justify-content: center;
        gap: 1rem;
    }
    .featured-products{
        padding: 2rem 1rem;
    }
}
.featured-products .product{
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: space-between;
    gap: 5px;
    padding: .6rem;
    box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    position: relative;
    border: #cce7d0 solid 1px;
    cursor: pointer;
    transition: all .4s ease;
}
.featured-products .product:hover{
    box-shadow: 10px 15px 50px rgba(70, 62, 221, 0.13);
    border-color: #088178;
}
.featured-products .product img{
    width: 100%;
    object-fit: cover;
    border-radius: .4rem;
}

.product .description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 10px 0;
}
.product .description span{
    color: #8c8c91;
    font-size: 1.3rem;
}
.product .description h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 1rem;
}
.product .description h5:hover{
    color: var(--clr-text-hover);
}
.product .description .stars{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.product .description .stars i{
    width: 15px;
    margin: 0 3px;
    color: #abaaaa;
}

.product .description h4{
    color: #088178;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
}
.product .btn-cart{
    padding: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: .5rem;
    background-color: var(--clr-btn);
    width: 100%;
    color: #fff;
}
.product .btn-cart p{
    font-size: 14px;
    margin: 0;
    padding-top: 4px;
}
.product .btn-cart:hover{
    background: #18a9a0;
}
.product .fa-shopping-cart{
    font-size: 1rem;
    border-radius: 50%;
    font-weight: bold;
}




/*-----------------------------------*\
    #BANNER
\*-----------------------------------*/

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(../img/banner/b2.jpg) no-repeat center center/cover;
    height: 40vh;
    color: #fff;
}
.banner h4{
    font-size: 1.5rem;
}
.banner h2{
    font-size: 3rem;
    padding-block: 1.5rem;
}
.banner h2 span{
    display: inline;
    color: var(--clr-text-hover);
}
.banner .btn{
    padding-inline: 2rem;
    padding-block: 1rem .8rem;
    color: #000;
    background: #fff;
    border-radius: .5rem;
}
.banner .btn:hover{
    background: #18a9a0;
    color: #fff;
}


/*-----------------------------------*\
    #NEW ARRIVALS
\*-----------------------------------*/

.new-arrivals{
    padding: 3rem 4rem;
    text-align: center;
}
.new-arrivals h2{
    font-size: 4rem;
    padding-bottom: 1.5rem;
}

.new-arrivals .container{
    display: flex;
    padding-block: 2rem;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}
@media (max-width: 768px){
    .new-arrivals .container{
        justify-content: center;
        gap: 1rem;
    }
    .new-arrivals {
        padding: 2rem 1rem;
    }
}

.new-arrivals .product{
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: space-between;
    gap: 5px;
    padding: .6rem;
    box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    position: relative;
    border: #cce7d0 solid 1px;
    cursor: pointer;
    transition: all .4s ease;
}
.new-arrivals .product:hover{
    box-shadow: 10px 15px 50px rgba(70, 62, 221, 0.13);
    border-color: #088178;
}

/*-----------------------------------*\
    #BANNERS
\*-----------------------------------*/
.grid-banner :is(.banner-1, .banner-2){
    padding: 2rem 3rem;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1400px;
    margin-inline: auto;
}
@media (max-width: 1300px){
    .grid-banner{
        padding: 3rem 0;
    }
    .grid-banner :is(.banner-1, .banner-2){
        justify-content: center;
    }
}

.grid-banner .banner-box{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    background: url(../img/banner/b17.jpg) no-repeat center center/cover;
    height: 40vh;
    flex:  1 1 568px;
    color: #fff;
    padding: 2rem;
}
.grid-banner .banner-box:nth-child(2){
    background: url(../img/banner/b10.jpg) no-repeat center center/cover;
}
@media (min-width: 900px) and (max-width: 1300px){
    .grid-banner .banner-1 .banner-box{
        height: 50vh;
    }
    
}

.grid-banner .banner-box h4{
    font-size: 1.5rem;
    font-weight: 300;
}
.grid-banner .banner-box h2{
    font-size: 3rem;
    padding-block: 1.5rem;
    margin: 0;
    padding: 0;
}
.grid-banner .banner-box h2 span{
    display: inline;
    color: var(--clr-text-hover);
}
.grid-banner .banner-box .btn{
    padding-inline: 2rem;
    padding-block: 1rem .8rem;
    color: #fff;
    border-radius: .5rem;
    border: 1px solid #fff;
}
.grid-banner .banner-box .btn:hover{
    background: #ffffff;
    color: #000000;
}


.grid-banner .banner-2 .banner-box{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    background: url(../img/banner/b8.jpg) no-repeat center center/cover;
    height: 30vh;
    flex:  1 1 30%;
    max-width: 400px;
    color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
}
.grid-banner .banner-2 .banner-box:nth-child(1){
    background: url(../img/banner/b7.jpg) no-repeat center center/cover;
}
.grid-banner .banner-2 .banner-box:nth-child(2){
    background: url(../img/banner/b4.jpg) no-repeat center center/cover;
}
.grid-banner .banner-2 .banner-box:nth-child(3){
    background: url(../img/banner/b18.jpg) no-repeat center center/cover;
}


.grid-banner .banner-2 .banner-box h2{
    color: #fff;
    font-size: 1.7rem;
    font-weight: 900;
}

.grid-banner .banner-2 .banner-box h3 {
    color: #ec544e;
    font-size: 1.2rem;
    font-weight: 800;
}


/*-----------------------------------*\
    #NEWSLETTER
\*-----------------------------------*/

.newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('../img/banner/b14.jpg') no-repeat center center/cover;
    background-color: #041e42;
    padding: 5.5rem 1rem;
}
.newsletter .container{
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 468px){
    .newsletter .container{
        gap: 1rem;
        flex-direction: column;
    }
}
.newsletter h4{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
}
.newsletter p{
    font-size: 1.3rem;
    font-weight: 600;
    color: #818ea0;
}
.newsletter p span{
    color: #ffbd27;
    display: inline-block;
}
.newsletter form{
    display: flex;
}
.newsletter input{
    height: 3.2rem;
    padding: 0 1.25rem;
    font-size: 1rem;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius:6px ;
}
.newsletter button{
    background: var(--clr-btn);
    border-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius:6px ;
    color: #fff;
    width: 150px;
}



/*-----------------------------------*\
    #FOOTER
\*-----------------------------------*/


.logo{
    width: 3rem;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline: 4rem;
    padding-block: 2rem;
}
.footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}
.footer h4{
    font-size: 1rem;
    padding-bottom: 1.5rem;
}
.footer p{
    font-size: .8rem;
    padding: 0 0 8px 0;
}

.footer a{
    font-size: .8rem;
    text-decoration: none;
    color: #222;
    margin-bottom: 1rem;
}

.footer .follow i{
    color: #465b52;
    padding: 4px;
    cursor: pointer;
}
.footer .install .row img{
    border: 1px solid var(--clr-btn);
    border-radius: 8px;
}
.footer .install img{
    margin: 10px 0 15px 0;
}
.footer .follow i:hover,
.footer a:hover{
    color: var(--clr-btn);
}

.footer .copyright{
    width: 100%;
    text-align: center;
}
.footer .copyright p{
    justify-content: center;
    display: flex;
    gap: 7px;
}

/*-----------------------------------*\
    #MEDIA QUERIES
\*-----------------------------------*/


body {
    overflow-x: hidden;
}
@media (max-width: 468px){
    .container{
        padding: 1rem;
    }
    .hero{
        background-position: 75%;
        padding: 5px;
        overflow-x: hidden;
    }
    .header{
        padding: 10px .5rem;
    }
    .hero h4{
        font-size: 1.3rem;
    }
    .hero h2{
        font-size: 1.2rem;
    }
    .hero h1{
        font-size: 1.8rem;
    }
    section.feature{
        padding: 2rem 1rem;
    }
    .feature .container .fe_box{
        width: 155px;
        margin: 0 0 15px 0;
    }
}
.header .icons-header{
    display: flex;
    gap: 1rem;
}

.header .mobile-burger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 16px;
    cursor: pointer;
    width: 1.2rem;
}
.header .mobile-burger span{
    border: 0;
    padding: 0;
    margin: 0;
    background: #18a9a0;
    height: 3px;
    width: 100%;
    transform-origin: left;
    transition: all .3s ease;
}
.header .mobile-burger.show span:nth-child(2){
    opacity: 0;
}
.header .mobile-burger.show span:nth-child(1){
    transform:rotate(45deg);
}
.header .mobile-burger.show span:nth-child(3){
    transform:rotate(-45deg);
}

@media (max-width: 768px){
    .header{
        max-width: 100vw;
        width: 100vw;
        
    }
    .hero{
        background-position: 75%;
    }
    .navbar .list_links {
        position: fixed;
        top: 0;
        right: 0;
        right: -230px;
        width: 230px;
        height: 100vh;
        padding: 2rem 1rem;
        background: #e3e6f3;
        box-shadow: 0 40px 40px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        transition: all .3s ease;
    }
    .navbar .list_links.show{
        right: 0;
    }

    .header .mobile-burger{
        display: flex;
    }
}
